MINIMUM REQUIREMENTS TO COMPILE AND RUN THE MODELS:

    maquina virtual CPCTelera 
    SDL
    GCC COMPILER (im using GCC-6.3.0)

IN CASE YOU WANT TO RUN THE AUXILIARY SCRIPTS FOR DATA ANALYSIS AND PLOTTING (HEATMAP.PY, PARSER.PY), YOU WILL ALSO NEED A VIRTUAL ENVIRONMENT WITH THE FOLLOWING PACKAGES INSTALLED:
    pandas
    matplotlib
    seaborn
